@font-face {
  font-family: "MyFont";
  src: url(uni-sans/bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "MyFont";
  src: url(uni-sans/semibold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "MyFont";
  src: url(uni-sans/regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "MyFont";
  src: url(uni-sans/italic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "MyFont";
  src: url(uni-sans/bolditalic.woff2) format("woff2");
  font-style: italic;
  font-weight: 700;
}

html {
  font-family: 'MyFont', serif;
}
